<template name="postSubmit">
  <form class="main form page">
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Thread Title</label>
      <div class="controls">
         <input name="title" id="title" type="text" maxlength="120" value="" placeholder="Name of your thread" class="form-control"/>
          <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'desc'}}">
      <label class="control-label" for="desc">Description</label>
      <div class="controls">
          <textarea name="desc" id="desc" class="form-control" rows="5" placeholder="Description of your thread"></textarea>
            <span class="help-block">{{errorMessage 'desc'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>