<template name="threadsList">
  <div class="posts page">
    <div class="clearfix">
    <a href="{{pathFor 'postSubmit'}}" class="btn btn-warning pull-right">New Thread</a>
  </div>
    <div class="wrapper">
      {{#each posts}}
        {{> threadItem}}
      {{else}}
      <a class="load-more" href="javascript:void(0);">No new threads</a>
      {{/each}}
    </div>

    {{#if nextPath}}
      <a class="load-more" href="{{nextPath}}">Load more</a>
    {{else}}
      {{#unless ready}}
        {{> spinner}}
      {{/unless}}
    {{/if}}
  </div>
</template>