<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navigation" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="logo" class="navbar-brand" href="{{pathFor 'home'}}">Hacker Feed</a>
      </div>
      <div class="collapse navbar-collapse" aria-expanded="false" id="navigation">
        <ul class="nav navbar-nav">
          <li class="{{activeRouteClass 'bestFeeds'}}">
            <a href="{{pathFor 'bestFeeds'}}">#Best</a>
          </li>
          <li class="{{activeRouteClass 'webFeeds'}}">
            <a href="{{pathFor 'webFeeds'}}">#WebDevelopment</a>
          </li>
          <li class="{{activeRouteClass 'mobileFeeds'}}">
            <a href="{{pathFor 'mobileFeeds'}}">#MobileDevelopment</a>
          </li>
          <li class="{{activeRouteClass 'javaFeeds'}}">
            <a href="{{pathFor 'javaFeeds'}}">#JavaDevelopment</a>
          </li>
          <li class="{{activeRouteClass 'techFeeds'}}">
            <a href="{{pathFor 'techFeeds'}}">#Tech</a>
          </li><li class="{{activeRouteClass 'threadList'}}">
            <a href="{{pathFor 'threadList'}}">#Threads</a>
          </li>{{#if currentUser}}
          <li class="dropdown">{{> notifications}}</li>{{/if}} {{> loginButtons}}</ul>
      </div>
    </div>
  </nav>
</template>